@font-face {
  font-family: Heebo;
  src: url("assets/fonts/Heebo/Heebo-VariableFont_wght.ttf") format("truetype");
  font-display: block; /* Fix flickering */
}

@font-face {
  font-family: Karantina;
  src: url("assets/fonts/Karantina/Karantina-Regular.ttf") format("truetype");
  font-display: block; /* Fix flickering */
}

@font-face {
  font-family: Noto-Sans;
  src: url("assets/fonts/Noto_Sans_Hebrew/NotoSansHebrew-VariableFont_wdth\,wght.ttf") format("truetype");
  font-display: block; /* Fix flickering */
}

* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #2D2C7D;
  color: white;
  direction: rtl;
  font-family: Karantina;
  background-image: url("assets/images/image\ 38.png");
  background-size: cover;
}

button {
  background-color: transparent; /* Green */
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* ---------- Header ---------- */

header {
  position: fixed;
  top: 0;
  border-bottom: 2px solid white;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav.type-navbar {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button.type-btn {
  border: none;
  padding: 2px 5px;
}

button.type-btn::after {
  content: "";
  position: relative;
  top: 8px;
  display: block;
  width: 55px;
  height: 4px;
  background-color: #2D2C7D;
  border: 2px solid white;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
}

button.type-btn.active {
  /* font-weight: bold; */
  text-shadow:1px 0px 0px white;
}

button.type-btn.active::after {
  background-color: white;
}

.header-spacer {
  width: 0%;
}

nav.date-navbar {
  margin-top: 25px;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-left: -5%;
}

.date-btns-wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 400px;
  overflow-x: hidden;
}

button.date-btn {
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 4px 25px;
  height: 25px;
  min-width: 100px;
  max-width: 100px;
  transform-origin: bottom;
  transform: rotateX(180deg);
  transition: all 300ms ease-in-out;
}

button.date-btn span {
  display: inline-block;
  pointer-events: none;
  transform: rotateX(-180deg);
  transition: all 300ms ease-in-out;
}

button.date-btn.active {
  color: #2D2C7D;
  background-color: white;
  transform: rotateX(0deg);
}

button.date-btn.active span {
  font-weight: bold;
  transform: rotateX(0deg);
}

button.shift-date-btn {
  border: none;
  font-size: 10px;
  padding: 5px 15px;
  transform-origin: bottom;
  transform: translateY(50%) scale(1.5);
  transition: all 300ms ease-in-out;
}

nav.section-navbar {
  position: fixed;
  right: 0;
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button.section-btn {
  border-right: none;
  padding: 7px 25px 7px 30px;
  border-radius: 20px 0 0 20px;
  font-size: 1em;
  transition: all 300ms ease-in-out;
}

button.section-btn.active {
  /* font-weight: bold; */
  text-shadow:1px 0px 0px #2D2C7D;
  color: #2D2C7D;
  background-color: white;
}

/* ---------- Content ---------- */
.content {
  margin: 8% 10% 0 10%;
  font-family: Heebo;
  display: flex;
}

.info {
  min-width: 32%;
  max-width: 32%;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: Karantina;
  font-size: 85px;
  margin-top: -16px;
  letter-spacing: 2px;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 16px;
  max-width: 80%;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

.visuals {
  display: flex;
  margin-top: 16%;
  width: 100%;
  justify-content: space-between;
}

/* ---------- Footer Button ---------- */
.footer-btns {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.footer-btns button {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 38px;
  padding: 6px;
}

.footer-btns button img {
  width: 24px;
  height: 24px;
}